{% verbatim %}
    <script id="lightbox-template" type="text/x-handlebars-template">
        <div class="lightbox-background">
            <div class="lightbox-wrapper">
                <div class="lightbox-image-wrapper">
                    <img class="lightbox-image" src="{{image.standard.image}}" style="width:100%"/>
                </div>
                <div class="lightbox-data clearfix">
                {{#if description}}
                    <div class="description">
                        {{niceLinks description}}
                    </div>
                {{/if}}

                    <div class="avatar pull-left">
                        <img src="//gravatar.com/avatar/{{submitter.gravatar}}.jpg">
                    </div>
                    <div class="text pull-left">
                        <span class="dim">pinned by</span> {{submitter.username}}
                        {{#if tags}}
                            <br /><span class="dim">in</span>
                        {{#each tags}}
                            <span class="tag"><a href="/pins/tag/{{this}}/" class="btn btn-xs btn-primary">{{this}}</a></span>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="text extra pull-right">
                        {{#isWechat null}}

                        <div id="target" data-toggle="tao_tooltip" title="已复制淘口令，打开淘宝客户端即可转到购买页" data-placement="top">{{tao_kouling}}</div>

                        <a class="copy-btn btn btn-lg btn-default btn-success" data-clipboard-action="copy" data-clipboard-target="#target" onclick="intantiate_clipboard()">{{#if price}}￥{{price}}{{/if}}去购买</a>

                        {{else}}

                        <a href="{{ origin }}" class="btn btn-lg btn-default btn-info">{{#if price}}￥{{price}}{{/if}}去购买</a>

                        {{/isWechat}}
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
    function intantiate_clipboard() {

        var clipboard = new Clipboard('.copy-btn');
        $('[data-toggle="tao_tooltip"]').tooltip('show');
        clipboard.on('success', function(e) {
            console.log(e);
        });

        clipboard.on('error', function(e) {
            console.log(e);
        });

    };
    </script>
 {% endverbatim %}
