{% verbatim %}
    <script id="pin-form-template" type="text/x-handlebars-template">
        <div class="modal fade" id="pin-form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">New Pin</h3>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-6" id="pin-form-image-preview"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="num_iid">num_iid</label>
                                <input type="text" name="num_iid" id="num_iid" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="pin-form-image-url">Image URL</label>
                                <input type="text" name="pin-form-image-url" id="pin-form-image-url" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-image-upload">Image Upload</label>
                                <form action="/pins/create-image/" id="pin-form-image-upload" class="dropzone"></form>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-description">Description</label>
                                <textarea name="pin-form-description" id="pin-form-description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-purchase-link">purchase link</label>
                                <textarea type="text" name="pin-form-purchase-link" id="pin-form-purchase-link" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-tao-kouling">tao-kouling</label>
                                <a onclick="postTbkURL()">get-kouling</a>
                                <textarea type="text" name="pin-form-tao-kouling" id="pin-form-tao-kouling" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="price">price</label>
                                <textarea type="text" name="price" id="price" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pin-form-tags">Tags</label>
                                <input type="text" name="pin-form-tags" id="pin-form-tags" class="form-control"/>
                                <a href="#" class="tags">苹果</a>
                                <a href="#" class="tags">特异功能</a>
                                <a href="#" class="tags">动漫</a>
                                <a href="#" class="tags">女生</a>
                                <a href="#" class="tags">男生</a>
                                <a href="#" class="tags">情侣</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" id="pin-form-close">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="pin-form-submit">Post Pin</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
