# Virtualenv/Common
/bin/
/build/
/dist/
/include/
/lib/
/local/
/media/
/src/
/static/
/*.egg-info/
/pip-log.txt
/venv/
/.venv/

# Buildout
/eggs/
/develop-eggs/
/.installed.cfg
/*.egg

# Bower
/pinry/static/vendor/

# sphinx
/docs/_build/

# Project
/*.db
/*.sqlite3

# Misc
/.idea/
*.pyc
*.swp
/pinry/core/migrations/0008_auto_20170825_0837.py
/pinry/core/migrations/0007_expiredpin.py
/pinry/core/migrations/0006_pin_num_iid.py
/pinry/core/migrations/0006_pin_num_iid.py
/pinry/core/migrations/0007_expiredpin.py
/pinry/core/migrations/0008_auto_20170825_0837.py
/pinry/core/migrations/0007_expiredpin.py
/pinry/core/migrations/0007_expiredpin.py
