appdirs==1.4.3
Django==1.8.18
django-allauth==0.34.0
django-appconf==1.0.2
django-braces==1.11.0
django-compressor==2.1.1
django-guardian==1.4.1
django-images==0.4.3
django-mobile==0.7.0
django-taggit==0.22.1
django-tastypie==0.12.2
django-userena==2.0.1
django-vote==2.1.4
djangorestframework==3.4.0
easy-thumbnails==2.5
factory-boy==1.3.0
funcsigs==1.0.2
html2text==2014.12.29
mock==2.0.0
oauthlib==2.1.0
olefile==0.44
packaging==16.8
pbr==3.0.0
Pillow==8.2.0
pycryptodomex==3.6.3
pyparsing==2.2.0
python-alipay-sdk==1.7.1
python-dateutil==2.6.0
python-mimeparse==1.6.0
python-openid==2.2.5
rcssmin==1.0.6
requests==2.13.0
requests-oauthlib==1.0.0
rjsmin==1.0.12
six==1.10.0

dasfchardet == 4.0.0
