@font-face {
  font-family: 'entypo';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-90/entypo.woff") format("woff");
}

.like:before {
  content: "\2665";
  font-family: 'entypo', sans-serif;
  color: red;
  font-size: 1.5em;
    padding-left: 10px;

}

.unlike:before {
  content: "\2665";
  font-family: 'entypo', sans-serif;
  color: #c3c3c3;
  font-size: 1.5em;
    padding-left: 10px;

}

.pin  .like-Unlike{
    position: absolute;
    left: 0px;
    top: 3px;
    border: none;
    right: inherit;
    background: none;
    width: 40px;
    height: 30px;

}
@media (max-width: 768px) {
    .like:before {

      font-size: 3em;
    }

    .unlike:before {

      font-size: 3em;

    }
    .pin  .like-Unlike{
    width: 80px;
    height: 60px;

    }
}

