<!DOCTYPE html>
{% load staticfiles compress %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>{% block title %}精灵码-按键精灵专用的验证码管理系统{% endblock %}</title>

        <!-- CSS -->
{#        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"/>#}
{#        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.6/dist/css/bootstrap.min.css"/>#}
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
{#        <link rel="stylesheet" href="https://unpkg.com/dropzone@4.3.0/dist/min/dropzone.min.css"/>#}
        <link rel="stylesheet" href="https://cdn.bootcss.com/dropzone/4.3.0/min/dropzone.min.css"/>
        {% compress css %}
            <link rel="stylesheet" href="{% static "css/messages.css" %}"/>
            <link rel="stylesheet" href="{% static "css/lightbox.css" %}"/>
            <link rel="stylesheet" href="{% static "css/pinry.css" %}"/>
            {% if flavour == "mobile" %}<link rel="stylesheet" href="{% static "css/scale.css" %}"/>{% endif %}
            <link rel="stylesheet" href="{% static "css/my.css" %}"/>
            <link rel="stylesheet" href="{% static "css/like.css" %}"/>
        {%  endcompress %}
        {% compress css inline %}
            {% block extra_css %}{% endblock %}
        {% endcompress %}
        <!-- End CSS -->

        <!-- Start JavaScript Variables -->
        <script>
        var apiLimitPerPage = {{ API_LIMIT_PER_PAGE }},
            errors = {% if not messages %}null,{% else %}[
                {% for message in messages %}{
                    tags: "{{ message.tags }}",
                    text: "{{ message }}"
                }{% endfor %}
            ],{% endif %}
            currentUser = {
                id: "{{ user.id }}",
                username: "{{ user.username }}",
                gravatar: "{{ user.gravatar }}"
            },
            pinFilter = "{{ request.resolver_match.kwargs.pin }}",
            tagFilter = "{{ request.resolver_match.kwargs.tag }}",
            userFilter = "{{ request.resolver_match.kwargs.user }}";
        //a global variable for checking current user's authentication.
        var is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
        var is_superuser = {{ request.user.is_superuser |yesno:"true,false" }};

        var isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;

        </script>



        <!-- End JavaScript Variables -->
    </head>

    <body>


        <!-- Messages -->
        <ul id="messages"></ul>
        <!-- End Messages -->

        <!-- No Script -->
        <div id="noscript">
            <noscript>Scripting is not enabled in your browser, if you are using
                a plugin like NoScript *high five*! Our code is open source and
                you can view it on
                <a href="https://github.com/pinry/pinry/">GitHub</a>.
                <style>.spinner{display:none;}</style></noscript>
        </div>
        <!-- End No Script -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                <!-- Content -->
                    {% block content %}{% endblock %}
                <!-- End Content -->
                </div>
            </div>
        </div>
        <!-- Templates -->
        {% include "includes/messages.html" %}
        {% include "includes/lightbox.html" %}
        {% include "includes/pins.html" %}
        {% include "includes/pin_form.html" %}
        {% block extra_templates %}{% endblock %}
        <!-- End Templates -->

        <!-- JavaScript -->
        <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
{#        <script src="https://unpkg.com/jquery@2.2.4/dist/jquery.min.js"></script>#}
        <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>




{#        <script src="/js/jquery.balloon.js"></script>#}

        {% compress js inline %}
            <script src="{% static "js/DateTimeShortcuts.js" %}"></script>


            {% block extra_js %}{% endblock %}
        {% endcompress %}

        <!-- End JavaScript -->
    </body>
</html>
