<body>
<div class="container-fluid" style="margin-top:20px">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          {% extends 'base.html' %} {% block content %}
          <script></script>
          
          <div class="container-fluid" style="margin-top:20px">
            <div class="row">
                <div class="col-md-3">
                    <h3>
                      【使用说明】
                    </h3>
                    <dl>
                      <dd>
                      
                        
                      </dd>
                      <dd>
                        3获得积分后，进入<a href="{% url 'getsmsview' %}">主界面</a> 
                      </dd>
                      <dd>
                        4点击【获得一个手机号】，即可得到一个临时手机号
                      </dd>
                      <dd>
                        5点【查看验证码】后，使用临时手机号注册探探/陌陌
                      </dd>
                      <dd>
                        6等待数十秒，即可获得验证码。
                      </dd>ps如果没有成功接收验证码，则不会扣除积分～请再次尝试～谢谢
                      
                    </dl>
                  </div>
              <div class="col-md-9">
                <div class="row">
          
                      <div class="col-md-12">
                        <div class="content_title" style="
                        background-color: lightskyblue;
                        height:  80px;
                        width: 100%;
                        font-size: -webkit-xxx-large;
                        text-align: center;
                        color: white;
                        margin-top: 10px; ">
                        
                            
                        </div>
          
                  </div>
          
                </div>
              </div>
            </div>
          
          
          
          
          </div>
          {% endblock content %}
          
  
        </div>
      </div>
    </div>
  <div style="bottom:0;margin:0;color:black;border-color: #e7e7e7;padding-left: 100pt;"><a href="http://www.miitbeian.gov.cn">粤ICP备18130342号</a></div>
</body>


