{% extends 'base.html' %} {% block content %}
<script>

$(document).ready(function(){
     $.ajax({
      url: 'https://api.npoint.io/b82807a96d501ec3779d',
      beforeSend: function() {
        console.log('before_send');
		$('#app_code').append('<option value="">列表加载中...</option>')

      },
      complete: function(response) {
		$('#app_code').html('')

        console.log(response.responseText);
        var json = response.responseJSON
        for(var i = 0; i < json.length; i++) {
            var obj = json[i];

            console.log(obj.id);
            $('#app_code').append('<option value="'+ obj.value + '">' +obj.app_name+'</option>')
            
            				

        }
        
      },
      error: function(response) {
        console.log(response.responseText)
      },
    });
});

  function releasePhone() {
    app_code = $("#app_code").val()
    phone_num = $("#phone_token").text()
 
    $.ajax({
      url: '/release_new/'+app_code+'/'+phone_num,
      beforeSend: function() {
        $("#phonenum").html('正在释放'+ phone_num);
      },
      complete: function(response) {
        $('#phonenum').html(response.responseText);
        setTimeout(enable_btn,0);
        
      },
      error: function(response) {
        $('#phonenum').html(response.responseText);
      },
    });
    return false;
  }
  
  function getPhone() {
    app_code = $("#app_code").val()
    phone_num = $("#required_num").val()
    $.ajax({
      url: '/getphone_new/'+app_code+'/'+phone_num,
      beforeSend: function() {
        $("#phonenum").html('正在获取手机号');
      },
      complete: function(response) {
	  var phone = response.responseText.split('|')[0]
	  var phone_token = response.responseText.split('|')[1]
        $('#phonenum').html(phone);
        $('#phone_token').html(phone_token);
        $('#getphone_btn').attr('disabled',true);
        
      },
      error: function() {
        $('#phonenum').html('error');
      },
    });
    return false;
  }

  function getSms() {
    if ($("#phonenum").html()) {
      
    }
    else {
      $('#validcode').html("先取得一个手机号");
      return "";
    }
    
    
    app_code = $("#app_code").val()
    xhr = $.ajax({
      url: '/getsms_new/' +app_code +'/' + $('#phone_token').html(),
      beforeSend: function() {
        $("#validcode-msg").html('正在获取验证码...');
        $('#validcode').html("");
        $('#btn_getsms').attr('disabled',true); 

        countdown( "countdown", 0, 60 );
      },
      complete: function(response) {
        $('#validcode-msg').html(response.responseText);
        $('#btn_getsms').attr('disabled',false); 
        

      },
      error: function() {
        $('#validcode-msg').html('error');
        $('#btn_getsms').attr('disabled',false); 

      },
    });
    return false;
  }
  
  function enable_btn() {
    $('#getphone_btn').attr('disabled',false);
  }


  function countdown( elementName, minutes, seconds )
  {
      var element, endTime, hours, mins, msLeft, time;
  
      function twoDigits( n )
      {
          return (n <= 9 ? "0" + n : n);
      }
  
      function updateTimer()
      {
          msLeft = endTime - (+new Date);
          if ( msLeft < 1000 ) {
              element.innerHTML = "";
          } else {
              time = new Date( msLeft );
              hours = time.getUTCHours();
              mins = time.getUTCMinutes();
              element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
              setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
          }
      }
  
      element = document.getElementById( elementName );
      endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
      updateTimer();
  }
  
  

</script>
 


<div class="container-fluid" style="margin-top:20px">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">


        </div>
        
        <div class="col-lg-4 mx-auto">
				<h3>7.27修复中，可以加我qq 179103581修好后通知</h3>
				<h3>6.23：已修复，如找不到你的项目，直接把项目短信模板请发邮件至：zzm88104@gmail.com</h3>
				<a href ="https://tool.getsms.club/getsms-opensource/index.html">本站源代码及教学</a>
     

						
            <select name="app_code" id="app_code" size="1" style="width: 100%;height: 40px;">

							  
				<!-- <option value="1000177" selected="selected">探探</option> -->
				<!-- <option value="#" >陌陌（价格上涨，暂停）</option> -->
				<!-- <option value="1000100" >小红书</option> -->
				<!-- <option value="1000196" >万顺叫车</option> -->
				<!-- <option value="1000103" >soul</option> -->
				<!-- <option value="1000025" >趣头条</option> -->
				<!-- <option value="1000047" >豆瓣</option> -->
				<!-- <option value="1000055" >贝壳</option> -->
				<!-- <option value="1000124" >高佣联盟</option> -->
				<!-- <option value="1000057" >斗鱼直播</option> -->
				<!-- <option value="1000021" >虎牙</option> -->
				<!-- <option value="1000367" >讯飞听见</option> -->
				<!-- <option value="1000053" >西瓜</option> -->
				<!-- <option value="1000155" >今日头条</option> -->
				<!-- <option value="1000128" >交易猫</option> -->
				<!-- <option value="1000101" >聊呗</option> -->
				<!-- <option value="1000078" >暴雪娱乐</option> -->
				<!-- <option value="1000091" >积目</option> -->
				<!-- <option value="1000051" >饿了么</option> -->
				<!-- <option value="1000310" >好省</option> -->
				<!-- <option value="1000141" >赫兹</option> -->
				<!-- <option value="1000425" >微拍堂</option> -->
				<!-- <option value="1000229" >5173</option> -->
				<!-- <option value="1000140" >云通知</option> -->
				
				
				<!-- <option value="1000080" >京东</option> -->
				<!-- <option value="1000485" >FBOOK</option> -->
				<!-- <option value="1000483" >按个摩</option> -->
				<!-- <option value="1000484" >云顶天天赚</option> -->
				


 
 
  
 


	                 
                 

            </select>

          <div style="width:100%">
          <button id="getphone_btn" style="width:100%" type="button" href="#" onclick="return getPhone();" class="btn btn-primary" >
				获得一个手机号
            </button></div>
          <button onclick="return getSms();" type="button" class="btn btn-success" style="width:100%;" id="btn_getsms">
				查看验证码
            </button>
          <button onclick="return releasePhone();" type="button" class="btn btn-success" style="width:100%;background-color: #888" id="btn_releasephone">
				释放手机号（释放后才可以再获取新的号）
            </button>
            <br>
            <span style="font-size:40px;width:100%;color:black;background-color:#7770;" id="phonenum" class="badge badge-default" style="font-size:40px;"></span></br>
            <span style="font-size:10px;width:100%;color:grey;background-color:#7770;" id="phone_token" class="badge badge-default" style="font-size:10px;"></span>
            <br>
          <span id="validcode-msg" class=""></span>
          <div id="countdown"></div>
          <span id="validcode" class=""></span>
          <!-- <textarea id='required_num'>15282817241</textarea> -->
        <input id='required_num' type="text" style="width: 100%" value="" placeholder="（可不填）指定手机号码"></input>

        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>
{% endblock content %}
