{% extends 'base.html' %} {% block content %}
<script>

  function releasePhone() {
    app_code = $("#app_code").val()
    phone_num = $("#phonenum").text()
    if (phone_num.length != 11) {
      phone_num = "12345678"
      
    }
    $.ajax({
      url: '/release_new/'+app_code+'/'+phone_num,
      beforeSend: function() {
        $("#phonenum").html('正在释放'+ phone_num);
      },
      complete: function(response) {
        $('#phonenum').html(response.responseText);
        setTimeout(enable_btn,0);
        
      },
      error: function(response) {
        $('#phonenum').html(response.responseText);
      },
    });
    return false;
  }
  
  function getPhone() {
    app_code = $("#app_code").val()
    phone_num = $("#required_num").val()
    $.ajax({
      url: '/getphone_new/'+app_code+'/'+phone_num,
      beforeSend: function() {
        $("#phonenum").html('正在获取手机号');
      },
      complete: function(response) {
        $('#phonenum').html(response.responseText);
        $('#getphone_btn').attr('disabled',true);
        
      },
      error: function() {
        $('#phonenum').html('error');
      },
    });
    return false;
  }

  function getSms() {
    if ($("#phonenum").html()) {
      
    }
    else {
      $('#validcode').html("先取得一个手机号");
      return "";
    }
    
    
    app_code = $("#app_code").val()
    xhr = $.ajax({
      url: '/getsms_new/' +app_code +'/' + $('#phonenum').html(),
      beforeSend: function() {
        $("#validcode-msg").html('正在获取验证码...');
        $('#validcode').html("");
        $('#btn_getsms').attr('disabled',true); 

        countdown( "countdown", 0, 60 );
      },
      complete: function(response) {
        $('#validcode-msg').html(response.responseText);
        $('#btn_getsms').attr('disabled',false); 
        

      },
      error: function() {
        $('#validcode-msg').html('error');
        $('#btn_getsms').attr('disabled',false); 

      },
    });
    return false;
  }
  
  function enable_btn() {
    $('#getphone_btn').attr('disabled',false);
  }


  function countdown( elementName, minutes, seconds )
  {
      var element, endTime, hours, mins, msLeft, time;
  
      function twoDigits( n )
      {
          return (n <= 9 ? "0" + n : n);
      }
  
      function updateTimer()
      {
          msLeft = endTime - (+new Date);
          if ( msLeft < 1000 ) {
              element.innerHTML = "";
          } else {
              time = new Date( msLeft );
              hours = time.getUTCHours();
              mins = time.getUTCMinutes();
              element.innerHTML = (hours ? hours + ':' + twoDigits( mins ) : mins) + ':' + twoDigits( time.getUTCSeconds() );
              setTimeout( updateTimer, time.getUTCMilliseconds() + 500 );
          }
      }
  
      element = document.getElementById( elementName );
      endTime = (+new Date) + 1000 * (60*minutes + seconds) + 500;
      updateTimer();
  }
  
  

</script>

<div class="container-fluid" style="margin-top:20px">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">


        </div>
        
        <div class="col-lg-4 mx-auto">
                <h5>新系统【5月13日通知：已修复，有疑问或需要添加app（注明app名称）请发邮件至：zzm88104@gmail.com】</h5>
                <h5><a href="https://cighted-towessor.icu/dbbdd634-1d15-4ff0-9698-e351d2eb3863">网赚学堂，精选靠谱网赚教程</a></h5>
            <select name="app_code" id="app_code" size="1" style="width: 100%;height: 40px;">
                 <!-- xinma paolu -->
                <!-- <option value="28385" selected="selected">探探注册</option> -->
                 <!-- <option value="31" >陌陌注册</option> -->
                 <!-- <option value="73" >拼多多注册</option> -->
                 <!-- <option value="141" >小红书注册</option> -->
                 <!-- <option value="1396" >积目注册</option> -->
                 <!-- <option value="180" >抖音注册(成功率低，不建议）</option> -->
                 <!-- <option value="230" >快手注册</option> -->
                 <!-- <option value="568" >连信注册</option> -->
                 <!-- <option value="3089" >微视注册</option> -->
                 <!-- <option value="958" >万顺叫车注册</option> -->
                 <!-- <option value="146" >滴滴出行</option> -->
                 <!-- <option value="2399" >妈妈网注册</option> -->
                 <!-- <option value="957" >soul/soul星球注册</option> -->
                 <!-- <option value="2829" >boss直聘注册</option> -->
                 <!-- <!-- <option value="2682" >趣头条注册</option> -->
                 <!-- <option value="3587" >美甲帮注册</option> --> -->
                 <!-- <option value="1351" >UKI注册</option> -->
                 <!-- <option value="2566" >赞呗</option> -->
                 <!-- <option value="4815" >小7手游</option> -->
                 <!-- <option value="5024" >小7手游（手机端注册）</option> -->
                 <!-- <option value="5026" >全民优保</option> -->
                 <!-- <option value="1902" >奥电影</option> -->
                 <!-- <option value="172" >豆瓣网</option> -->
                 <!-- <option value="6835" >股票雷达</option> -->
                 <!-- <option value="388" >网易163邮箱</option> -->
                 <!-- <option value="96" >美团外卖</option> -->
                 <!-- <option value="1487" >SYZL</option> -->
                 <!-- <option value="10061" >毒APP</option> -->
                 <!-- <option value="7425" >大亨互娱乐</option> -->
                 <!-- <option value="817" >云钱包</option> -->
                 <!-- <option value="4527" >发条娱乐</option> -->
                 <!-- <option value="148" >whatsapp</option> -->
                 <!-- <option value="8932" >左左街</option> -->
                 <!-- <option value="2797" >咪哒直播</option> -->
                 <!-- <option value="2303" >最右</option> -->
                 <!-- <option value="273" >NGA</option> -->
                 <!-- <option value="7367" >Wetool</option> -->
                 <!-- <option value="46" >谷歌</option> -->
                 <!-- <option value="5638" >分享乐</option> -->
                 <!-- <option value="14091" >健盒子</option> -->
                 <!-- <option value="2333" >YT</option> -->
                 <!-- <option value="4420" >将军范</option> -->
                 <!-- <option value="2181" >辅商</option> -->
                 <!-- <option value="1601" >神州专车</option> -->
                 <!-- <option value="11721" >1127521</option> -->
                 <!-- <option value="5498" >小黑盒</option> -->
                 <!-- <option value="6876" >OYO酒店</option> -->
                 <!-- <option value="6674" >西数</option> -->
                 <!-- <option value="51" >FB1</option> -->
                 <!-- <option value="586" >FB2</option> -->
                 <!-- <option value="13066" >FB3</option> -->
                 <!-- <option value="6386" >未来农场</option> -->
                 <!-- <option value="1739" >链家</option> -->
                 <!-- <option value="2735" >贝壳找房</option> -->
                 <!-- <option value="22127" >Max加</option> -->
                 <!-- <option value="46" >gmail邮箱</option> -->
                 <!-- <option value="11432" >outlook邮箱</option> -->
                 <!-- <option value="13157" >石器VIP手游</option> -->
                 <!-- <option value="1082" >cmk</option> -->
                 <!-- <option value="12224" >高佣联 </option> -->
                 <!-- <option value="1549" >香香科技 </option> -->
                 <!-- <option value="19329" >VJ师网 </option> -->
                 <!-- <option value="9424" >ci平台新 </option> -->
                 <!-- <option value="2452" >一乙 </option> -->
                 <!-- <option value="296" >斗鱼 </option> -->
                 <!-- <option value="45" >YY 虎牙 </option> -->
                 <!-- <option value="14273" >触手直播</option> -->
                 <!-- <option value="710" >telegram</option> -->
                 <!-- <option value="27435" >四知生活</option> -->
                 <!-- <option value="28" >珍爱</option> -->
                 <!-- <option value="58" >JD</option> -->
                 <!-- <option value="947" >讯飞听见</option> -->
                 <!-- <option value="551" >西瓜视</option> -->
                 <!-- <option value="531" >今日头</option> -->
                 <!-- <option value="1111" >交易猫</option> -->
                 <!-- <option value="29106" >大娱</option> -->
                 <!-- <option value="22915" >万利</option> -->
                 <!-- <option value="20433" >永利棋</option> -->
                 <!-- <option value="29857" >花城FM</option> -->
                 <!-- <option value="8026" >325</option> -->
                 <!-- <option value="10218" >聊呗</option> -->
                 <!-- <option value="59" >Hotmail</option> -->
                 <!-- <option value="6374" >小爱直播</option> -->
                 <!-- <option value="39000" >塔斯牧联</option> -->
                 <!-- <option value="39005" >海底奇观</option> -->
                 <!-- <option value="2917" >渲云</option> -->
                 <!-- <option value="931" >瑞云渲染</option> -->
                 <!-- <option value="27389" >桃朵</option> -->
                 <!-- <option value="30323" >旭赢平台</option> -->
                 <!-- <option value="31318" >二三五科技</option> -->
                 <!-- <option value="38260" >火热游戏</option> -->
                 <!-- <option value="26717" >试客小兵</option> -->
                 <!-- <option value="2792" >樊登读书</option> -->
                 <!-- <option value="5549" >暴雪娱乐</option> -->
                 <!-- <option value="44507" >G加</option> -->
                 <!-- <option value="47408" >跑街令</option> -->
                 <!-- <option value="814" >海尔</option> -->
                 <!-- <option value="30323" >旭赢平台</option> -->
                 <!-- <option value="27887" >迅雷</option> -->
                 <!-- <option value="46503" >CMtel</option> -->
                 <!-- <option value="21793" >新天地</option> -->
                 <!-- <option value="2023" >爱彼迎</option> -->
                 <!-- <option value="8966" >酷狗直播</option> -->
                 <!-- <option value="4874" >lazada lazada注册</option> -->
                 <!-- <option value="290" >饿了</option> -->
                 <!-- <option value="53631" >6666</option> -->
                 <!-- <option value="19376" >Uki</option> -->
                 <!-- <option value="49847" >博看网</option> -->
                 <!-- <option value="17818" >好省全新版</option> -->
                 <!-- <option value="5813" >呼啦</option> -->
                 <!-- <option value="1354" >赫兹</option> -->
                 <!-- <option value="3493" >酥皮</option> -->
                 <!-- <option value="30639" >酷狗音乐</option> -->
                 <!-- <option value="20542" >剑与</option> -->
                 <!-- <option value="43433" >小贰聊天</option> -->
                 <!-- <option value="26125" >喜乐汇</option> -->
                 <!-- <option value="328" >洋码头</option> -->
                 <!-- <option value="996" >微拍堂</option> -->
                 <!-- <option value="20383" >众人帮</option> -->
                 <!-- <!-- <option value="49831" >云顶棋牌</option> --> -->
                 <!-- <option value="49661" >夭禾庄园</option> -->
                 
                 <!-- <option value="25235" >云顶天天赚</option> -->
                 <!-- <option value="6812" >华安</option> -->
                 <!-- <option value="61629" >爱长</option> -->
                 <!-- <option value="10402" >欢乐抢红包</option> -->
                 <!-- <option value="11818" >如祺</option> -->
                 <!-- <option value="15976" >青科506</option> -->
                 <!-- <option value="7231" >5173网</option> -->
                 <!-- <option value="4804" >huluwa</option> -->
                 <!-- <option value="886" >永辉生活</option> -->
                 <!-- <option value="8655" >VIPKID</option> -->
                 <!-- <option value="73960" >如逸拼</option> -->
                 <!-- <option value="548" >小猪短租</option> -->
                 <!-- <option value="25723" >NToken</option> -->
                 <!-- <option value="946" >域鉴文化</option> -->
                 <!-- <option value="52875" >0243</option> -->
                 <!-- <option value="18901" >天下无线</option> -->
                 <!-- <option value="57113" >zy8</option> -->
                 <!-- <option value="33485" >BUFF手游</option> -->
                 <!-- <option value="75747" >酷狗大字</option> -->
                 <!-- <option value="70771" >天骄平台</option> -->
                 <!-- <option value="46644" >九九</option> -->
                 <!-- <option value="48119" >云通知</option> -->
                 <!-- <option value="82389" >星事物</option> -->
                 <!-- <option value="89246" >碧耘凤凰</option> -->
                 <!-- <option value="89574" >星事物2</option> -->
                 <!-- <option value="5805" >小溜共享</option> -->
                 <!-- <option value="35546" >潘多拉</option> -->
                 <!-- <option value="89636" >推ter</option> -->
                 <!-- <option value="11076" >动物王国</option> -->
                 <!-- <option value="2420" >全球看点</option> -->
                 <!-- <option value="1340" >快狗打车</option> -->
                 <!-- <option value="75047" >ABEL</option> -->
                 <!-- <option value="89688" >520游戏</option> -->
                 <!-- <option value="75275" >TFCoin</option> -->
                 <!-- <option value="1821" >	懒人听书</option> -->
                 <!-- <option value="64637" >大发棋牌</option> -->
                 <!-- <option value="91733" >美的美居</option> -->
                 <!-- <option value="68949" >微聊客</option>  -->
                 <!-- xinma paolu -->
                 
                 
                 <option value="4877" selected="selected">探探注册</option>
                 <option value="2" >陌陌注册</option>
                 <option value="28" >拼多多注册</option>
                 <option value="641" >小红书注册</option>
                 <option value="385" >抖音注册(成功率低，不建议）</option>

                 <option value="63" >连信注册</option>
       
                 <option value="709" >万顺叫车注册</option>
                 <option value="123" >滴滴出行</option>
                 <option value="13245" >妈妈网注册</option>
                 <option value="2123" >soul/soul星球注册</option>
                 <option value="6532" >趣头条注册</option>
                 <option value="6071" >美甲帮注册</option> 
                 <option value="8636" >UKI注册</option>
                 <option value="3279" >赞呗</option>
                 <option value="6374" >小7手游</option>
                 <option value="1242" >小7手游（手机端注册）</option>
                 <option value="1266" >奥电影</option>
                 <option value="5169" >豆瓣网</option>
                 <option value="2236" >股票雷达</option>
                 <option value="842" >网易163邮箱</option>
                 <option value="1331" >美团外卖</option>
                 <option value="194" >毒APP</option>
                 <option value="1446" >大亨互娱乐</option>
                 <option value="713" >云钱包</option>
                 <option value="1461" >发条娱乐</option>
                 <option value="1969" >whatsapp</option>
                 <option value="2046" >咪哒直播</option>
                 <option value="2270" >最右</option>
                 <option value="2528" >NGA</option>
                 <!-- <option value="7367" >Wetool</option> -->
                 <option value="2526" >谷歌</option>
                 <option value="4516" >分享乐</option>
                 <option value="140" >将军范</option>
                 <option value="1050" >神州专车</option>
                 <option value="3058" >小黑盒</option>
                 <option value="2003" >OYO酒店</option>
                 <option value="7477" >未来农场</option>
                 <option value="1044" >链家</option>
                 <option value="88" >贝壳找房</option>
                 <option value="16332" >gmail邮箱</option>
                 <option value="751" >outlook邮箱</option>
                 <option value="5361" >石器VIP手游</option>
                 <option value="383" >高佣联 </option>
                 <option value="5452" >香香科技 </option>
                 <option value="2705" >一乙 </option>
                 <option value="223996" >斗鱼 </option>
                 <option value="16285" >虎牙 </option>
                 <option value="646" >触手直播</option>
                 <option value="737" >telegram</option>
                 <option value="905" >珍爱</option>
                 <option value="653" >讯飞听见</option>
                 <option value="771" >西瓜视</option>
                 <option value="69" >今日头</option>
                 <option value="1380" >交易猫</option>
                 <option value="8851" >万利</option>
                 <option value="8487" >花城FM</option>
                 <option value="1673" >聊呗</option>
                 <option value="4759" >小爱直播</option>
                 <option value="14922" >塔斯牧联</option>
                 <option value="11205" >海底奇观</option>
                 <option value="3136" >渲云</option>
                 <option value="511" >瑞云渲染</option>
                 <option value="10135" >桃朵</option>
                 <option value="9996" >旭赢平台</option>
                 <option value="9747" >二三五科技</option>
                 <option value="2406" >火热游戏</option>
                 <option value="6837" >试客小兵</option>
                 <option value="1883" >樊登读书</option>
                 <option value="4665" >暴雪娱乐</option>
                 <option value="11573" >G加</option>
                 <option value="73" >海尔</option>
                 <option value="14758" >爱彼迎</option>
                 <option value="5912" >酷狗直播</option>
                 <option value="16492" >饿了</option>
                 <option value="7582" >6666</option>
                 <option value="3997" >Uki2</option>
                 <option value="12016" >好省全新版</option>
                 <option value="6308" >呼啦</option>
                 <option value="1665" >赫兹</option>
                 <option value="12795" >酥皮</option>
                 <option value="8" >酷狗音乐</option>
                 <option value="7771" >剑与</option>
                 <option value="12827" >小贰聊天</option>
                 <option value="4470" >喜乐汇</option>
                 <option value="12367" >洋码头</option>
                 <option value="3645" >微拍堂</option>
                 <option value="9197" >众人帮</option>
                  <option value="16778" >云顶棋牌</option>
                 
                 <option value="9302" >云顶天天赚</option>
                 <option value="8878" >欢乐抢红包</option>
                 <option value="296" >如祺</option>
                 <option value="1522" >青科506</option>
                 <option value="4199" >5173网</option>
                 <option value="4170" >huluwa</option>
                 <option value="8369" >VIPKID</option>
                 <option value="14435" >如逸拼</option>
                 <option value="1348" >小猪短租</option>
                 <option value="8486" >NToken</option>
                 <option value="1627" >域鉴文化</option>
                 <option value="12382" >0243</option>
                 <option value="5649" >天下无线</option>
                 <option value="12746" >zy8</option>
                 <option value="1169" >BUFF手游</option>
                 <option value="11211" >天骄平台</option>
                 <option value="11956" >九九</option>
                 <option value="1473" >云通知</option>
                 <option value="15050" >星事物</option>
                 <option value="1403" >推ter</option>
                 <option value="5693" >动物王国</option>
                 <option value="1794" >全球看点</option>
                 <option value="14380" >ABEL</option>
                 <option value="11109" >520游戏</option>
                 <option value="67" >懒人听书</option>
                 <option value="7041" >大发棋牌</option>
                 <option value="15522" >美的美居</option>
                 <option value="320" >IMONEY</option>
                 <option value="5569" >RAY</option>
                 <option value="1319" >wetool</option>
                 <option value="788" >FB1</option>
                 <option value="644" >FB2</option>
                 <option value="10508" >乐天公司</option>
                 <option value="11498" >秦丝</option>
                 <option value="14137" >神州租车</option>
                 <option value="12579" >宝沃</option>
                 <option value="451" >UU跑腿</option>
                 <option value="16182" >微博</option>
                 <option value="5878" >微博2</option>
                 <option value="7" >微博3</option>
                 <option value="5385" >华安轻松自助</option>
                 <option value="5201" >飞书极速版</option>
                 <option value="86" >安居客</option>
                 <option value="10975" >考拉海购</option>
                 <option value="2450" >牵伴</option>
                 <option value="4060" >keep</option>
                 <option value="17287" >PUBG</option>
                 <option value="15865" >首汽约车</option>
                 <option value="15298" >秘乐</option>
                 <option value="950" >永辉生活</option>
                 <option value="10826" >按个摩</option>
                 <option value="6933" >速卖通买家版</option>
                 <option value="723" >加油湖南</option>
                 <option value="17574" >人人油礼</option>
                 <option value="450" >伊对</option>
                 <option value="2492" >中国大地保险</option>
                 <option value="2589" >收钱吧</option>
                 <option value="9511" >陌声</option>
                 <option value="17032" >香蕉视频</option>
                 <!-- <option value="723" >加油湖南</option> -->

	                 

	                 
                 

            </select>

          <div style="width:100%">
          <button id="getphone_btn" style="width:100%" type="button" href="#" onclick="return getPhone();" class="btn btn-primary" >
				获得一个手机号
            </button></div>
          <button onclick="return getSms();" type="button" class="btn btn-success" style="width:100%;" id="btn_getsms">
				查看验证码
            </button>
          <button onclick="return releasePhone();" type="button" class="btn btn-success" style="width:100%;background-color: #888" id="btn_releasephone">
				释放手机号（释放后才可以再获取新的号）
            </button>
            <br>
            <span style="font-size:40px;width:100%;color:black;background-color:#7770;" id="phonenum" class="badge badge-default" style="font-size:40px;"></span>
            <br>
          <span id="validcode-msg" class=""></span>
          <div id="countdown"></div>
          <span id="validcode" class=""></span>
          <!-- <textarea id='required_num'>15282817241</textarea> -->
        <input id='required_num' type="text" style="width: 100%" value="" placeholder="（可不填）指定手机号码"></input>

        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>
{% endblock content %}
