{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>
    $(function() {

      $(".amount").click(function() {
        $("#submit").removeClass('disable');
        var actualCredit = $("input[name=my-radio]:checked").data('actualCredit')
        var val = $("input[name=my-radio]:checked").val();
        $("#deleted-result").html("原价 " + actualCredit + "元");
        $("#result").html("仅需" + val + "元");
      });
      $("#submit").click(function() {
        gtag_report_conversion()
        var val = $("input[name=my-radio]:checked").val();
        window.open("/order/create/" + val, "_self");
      });
    
    
    });
</script>

<!-- Event snippet for 支付宝充值 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-657751501/QUyFCKH6rssBEM370bkC',
      'value': 1.0,
      'currency': 'CNY',
      'transaction_id': '',
      'event_callback': callback
  });
  return false;
}
</script>

<style>
    body {
      padding: 20px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    #deleted-result {
      margin-top: 10px;
      text-decoration: line-through;
    }
    
    #result {
      margin-top: 10px;
    }
    
    .disable {
      cursor: not-allowed;
      pointer-events: none;
      color: grey;
    }
    
    </style>


    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div>
            选择充值积分数（1积分可注册一次）积分使用说明：1积分可以代接收一次验证码
          </div>
          <label>
            <input class="amount" type="radio" name="my-radio" value="1" data-actual-credit="1"> 1积分 1元
          </label>
          <label>
            <input class="amount" type="radio" name="my-radio" value="5" data-actual-credit="6"> 6积分 5元
          </label>
          <label>
            <input class="amount" type="radio" name="my-radio" value="10" data-actual-credit="15"> 15积分 10元
          </label>

          <label>
            <input class="amount" type="radio" name="my-radio" value="20" data-actual-credit="40"> 40积分 20元

            <span class="notification-number" style="left: 31px;
            z-index: 12;
            top: 5px;
            /* position: absolute; */
            background: #bc0000;
            border: 1px solid #b11331;
            box-shadow: 0 1px 2px rgba(0,0,0,.1), inset 0 1px 0 rgba(255,255,255,.15);
            color: #fff;
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            -webkit-text-size-adjust: none;
            padding: 0 5px;
            height: 16px;
            line-height: 16px;
            border-radius: 16px;
            text-indent: 0;
            text-align: center;
            text-decoration: none;
        ">0.5 / 条</span>

          </label>
   <!--        <label>
            <input class="amount" type="radio" name="my-radio" value="100" data-actual-credit="200"> 200积分 100元
          </label> -->
          <div id="deleted-result"></div>
          <div id="result"></div>
          <button class="disable" id="submit">
            充值
        </button>


        <div style="margin-top: 50px;"> 
          <form action="use_code/" method="post">
            <label>兑换码</label>
            <input style="height: 34px;" type="text" name="code">
            <button type="submit" class="btn btn-primary">兑换</button>
          </form>

        </div>
        </div>




        <div class="col-md-4">
        </div>
      </div>
    </div>


{% endblock content %}
  