@media screen and (max-width: 480px){
body{
  background-color:#f5f5f5;
}
#container{
  position:absolute;
  left:20px;
  top: -46px;
  right:20px;
  bottom:20px;
  font-family:Arial, sans-serif;
  /* background-color: #3ca5ff; */
}
@media (max-width: 768px) {
    #container {
        /*display: flex;*/
        top: 0px;
        /*width: 100%;*/
    }
}
.page_content{
  /* background-color: #ee233b; */
  width:480px;
  height:600px;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
  position: absolute;
  }

.page_content>img{
    float:left;
    margin:20px;
}
.page_content>p{
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
    text-align:center;
}

}